.ability {
padding-left: 4%;
}

.abilities-divider {
margin: 3% 0;
}

.ability-title {
display: inline;
text-align: left;
}

.about-bg {
background-image: url("img/paper-toy-1767988_1280.jpg");
background-position: center;
}

.arow {
padding: 0% 15% 3%;
}

body {
font-family: 'Source Serif Pro', serif;
test-align: center;
}

.card {
margin-top: 2%;
text-align: center;
border-radius: 20%;
width: 300px;
background-color: white;
border-color: #5F939A;
border-width: 5px 5px 2px 2px;
height: 20rem;
}

.card:hover {
transform: scale(1.15);
z-index: 1;
}

.card-edge {
background-color: white;
width: 68%;
margin: 0 16%;
text-align: center;
}

.card-icon {
transform: scale(5);
}

.card-img {
width: 400px;
height: 200px;
}

.exp {
padding: 3%;
}

.fa-github {
color: Black;
}

.flip-card {
  background-color: transparent;
  width: 400px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #fff;
  color: black;
}

.flip-card-back {
  background-color: #5F939A;
  color: white;
  transform: rotateY(180deg);
}

.flip-card h3 {
padding-top: 5%;
}

.footer {
padding-top: 0;
text-align: center;
}

.just {
display: flex;
justify-content: space-between;
}

h1 {
font-weight: 900;
font-size: 5rem;
}

h2 {
margin: 5%;
padding-top: 2%;
}

h3 {
margin-top: 5%;
}

.header {
text-align: center;
}

.home-bg {
background-image: url("img/workspace-1280538.jpg");
}

#mainNav {
background-color: #5F939A;
}

.prof-img {
width: 50%;
}

.programming-bg {
background-image: url("img/male-2026518_1280.jpg");
background-position: center;
}

.social-cont {
background-color: #EAC8AF;
}

.star {
    text-align: right;
	color: #5F939A !important;
	transform: scale(0.7);
}

.star-over {
    font-weight: 900;
	font-size: 16px;
	content: #5F939A;
	display: inline-block;
	color: #d3dcff;
	z-index: 1;
}

.subheader {
margin: 0 0 2%;
}

.top {
margin: 0;
height: 35rem;
background-size: cover;
color: #fff;
text-align: left;
background-attachment: fixed;
background-repeat: no-repeat;
}

.text {
text-align: justify;
}

.top-text {
margin: auto 15%;
}

ul {
display: inline-block;
list-style-type: none;
}




