{% include "header.html" %}

<div class="top about-bg container-fluid row">

</div>

<div class="about container-fluid">
    <div class="row arow">
        <div class="col">
            <h2 class="header">About me</h2>
            <p class="text">I have always tried to be interested in many areas. That's probably why I'm not typical
                geek. Nevertheless, I am very interested in modern technologies and their impact on our everyday life. Therefore, I also started my adventure with programming. Privately, this interest translates into a fascination with F1 and the technology used there.
            </p>
        </div>
    </div>
    <div class="row arow social-cont">
        <div class="col">
            <h2 class="header">Social activity</h2>
            <p class="text">I have been trying to improve the reality that surrounds us for a long time. That is why
                in my life I have supported both political and non-profit organizations. As a local patriot, I care about better life in my area in various ways. At the same time, I am a member of the Amnesty-International and Mensa Poland associations.</p>
        </div>
    </div>
    <div class="row arow">
        <div class="col">
            <h2 class="header">Hobby</h2>
            <p class="text">As I mentioned before, I am very interested in F1, and therefore I try to watch almost
                every Grand Prix. In addition, I play basketball and read non-fiction and sci-fi. Since I started programming, I spend a lot of time creating my small projects or checking various solutions that come to my mind even late in the evening.</p>
        </div>
        <hr class="abilities-divider">
    </div>
</div>




{% include "footer.html" %}