{% include "header.html" %}
<div class="home-bg top container-fluid row">
<!--    <div class="col-lg-1">-->

<!--    </div>-->
    <div class="col-lg-6 top-text">
        <h1>Hi, I'm Edgar!</h1>
        <h6>Junior python developer.</h6>
    </div>

</div>

<div class="arow footer container-fluid">
    <div class="row">
        <h2 class="header col">Profile</h2>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <h4 class="header">Few words for start</h4>
            <p class="text">I created this website as a real showcase of myself both as a programmer and person. If you review it carefully, you will surely get to know me enough to know what is important to me and what I do to develop not only professionally but also personally.</p>
        </div>
        <div class="col-lg-4">
            <img src="static/img/IMG_98675cd.jpg" class="prof-img">
        </div>
        <div class="col-lg-4">
            <h4 class="header">Details</h4>
            <p class="text">Age: 30, marital status: fiance, city: Poznań, height: 204 cm (you read correctly :)), house composition: little daughter, fiancée, German shepherd dog, three chinchillas and finally me.
            </p>
        </div>
    </div>
            <hr class="abilities-divider">
</div>



{% include "footer.html" %}