{% include "header.html" %}

<div class="container arow align-item-center justify-content-center">
  <div class="col">
            <h2 class="header">Experience</h2>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-6 exp">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAVMAAACVCAMAAADSU+lbAAAAclBMVEUAAAD///8EBASrq6vw8P
            AbGxvj4+Nzc3P29vZkZGSXl5dFRUWLi4vIyMh6enocHByDg4Pa2tqVlZVWVlbR0dGmpqbh4eG9vb0NDQ1sbGwzMzMhISG6urqBgYEoKCi
            JiYmoqKhcXFxAQEAwMDBOTk5ubm53VCN2AAAEi0lEQVR4nO2a61biMBRGKcWKiiBCBy94G2fe/xVHaMrkcoqgO6y61rf/zZnkYHYvOUkz
            GA4Ey3AgpzRyyiOnPHLKI6c8csojpzxyyiOnPHLKI6c8csojpzxyyiOnPHLKI6c8csojpzxyyiOnPHLKI6c8csojpzxyyiOnPHLKI6c8c
            sojpzxyyiOnPHLKI6c8csojpzxyyiOnPHLKI6c8csojpzxyyiOnPHLKI6c8csojpzxyyiOnPHLKI6c8csojpzxyyiOnPHLKI6c8csojpz
            y5nd69lhuu4vj9NnwZxKZ1GVBf3ixmRs6H27KD4f5sb4/w6GxyO70qtlzE8ettuPJD68Li11Pc9dlst23rtVqZLarLuwyDjOiR01GHqeo
            57Hre6XTqtRof0igPP8BpMQ67djodH5StmOQYp89PcFqsg66dTsvDshXJyx2md05X59OWl7J9gIOuzukk4SzNtv6f7WnSvmKvs4z0P71z
            GpYCv5ruCz/mnBp/tx9qst0G/z8bGZeIp+dOL5ru537MOQ3uyhQr22BqXCKenjt9bLoHc7VzalWun2Qz0/H03OlZ0/3ej33D6cC9io8Zw
            fH03OlD0/3dj33f6csxIzienju9TZt9x+nMeD3z9M5pMFNPrfefc/rJDxtOh23XzAVq75yO5juqpm+xCrs6MaOAefwDqqU2dK184neiuY6
            q4x9Iav7pS7tJs47bwvwAp1VU+phOk+2mPWvT57gtzA9wGj/8ltN0udmd7T5pC9NHp6OqpV3vB4+/5TRdGXU5HS2yf9non9MbP7Zw85T/a
            LdzVJIzwHa6zFxGbcnt1BXtyVCW27C/Md/uS4XtXEXpr3zOu27NAOd0XE5uNkzHVvY85Hb6mDrZ0tx/Sz9kr3yWiYtj9lBGu383q4fi7Q
            TfNLN/Ny3s+6MJB1WN7bRMbuhjnNZxoOrugZHd6bx5BKOo8xIsvPc5rdK+B61NvZq/3co+egRHk93paxEPboObeh782L5n/6tO/WzN1c2
            9iBqcwOlvN+MGs7T7ihFMUXt3PP3686tOF8b7Jgv5z6EsndRyt3x5c3dMVA1YK/S3Kr3Nv7iHMnT1W/ZPfCdw6qqpzQO8quu6vN59eV+G
            DRsLY39nZNfVP0DinI4NkmzBXf/edEy2W2hOcF6q69vxKPrlPSv0+pB8YXVhvUnK9vHIO+bsTj/S/zUFVHEx9J31fsOfJFv0dm6axUUIzU
            nO9b1fp+OP5/dup+PoU4d9iQpzVRbtSbvCP9kYZDnRWcmrMjA2t6rEieWpWk0Hg+hvnFsNPwhOq1XmlXNTXt7zfac7f/p8cVuX6/VrfdO
            5Uj+L6TiEd5c03BI2mn1EZkmCTfQs85FJnenlkVMeOeWRUx455ZFTHjnlkVMeOeWRUx455ZFTHjnlkVMeOeWRUx455ZFTHjnlkVMeOeWRU
            x455ZFTHjnlkVMeOeWRUx455ZFTHjnlkVMeOeWRUx455ZFTHjnlkVMeOeWRUx455ZFTHjnlkVMeOeWRUx455ZFTHjnlkVMeOeWRUx455ZF
            THjnlGf4DrD0lWPKIEWsAAAAASUVORK5CYII=" alt="Uber" class="card-img">
          </div>
          <div class="flip-card-back">
            <h3>Uber</h3>
            <p>Driver</p>
            <p>December 2020 - Present</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 exp">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="/static/img/glowna-norsk_r1_c1.jpg" alt="Norsk Development" class="card-img">
          </div>
          <div class="flip-card-back">
            <h3>Norsk Development</h3>
            <p>Business Analyst/Purchasing Specialist</p>
            <p>August 2019 - March 2020</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 exp">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="https://upload.wikimedia.org/wikipedia/commons/1/1e/Nowoczesna_logo.png" alt="Nowoczesna"
                 class="card-img">
          </div>
          <div class="flip-card-back">
            <h3>Marek Ruciński parliamentary office</h3>
            <p>Assistant</p>
            <p>December 2015 - October 2019</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 exp">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxAODxASEBAQEBAQDhEQEg8TDw8QEBUPFxg
            WFhYSFRMZHSggGBolGxUTITUhJSkrLi4uGB8zODMsNygtLisBCgoKDg0OGxAQGy0dHSUtLS0rLS0rLS0tKy0tKy0tLS0tLS0tLS0tKys
            rLS0tLS0tLS0tLS0tLS0tLS0tLS0tLf/AABEIAOEA4QMBEQACEQEDEQH/xAAbAAEAAgMBAQAAAAAAAAAAAAAABgcBAgUEA//EAEUQAAIB
            AgEFCgwCCQUBAAAAAAABAgMRBAUGBxIhEzFRUnFzgZGxshQiIzQ1QWFykqLC0aHBJDJCU2N0gpPwFSVDVGIW/8QAGQEBAAMBAQAAAAAAA
            AAAAAAAAAMEBQEC/8QAJREBAAEEAgIDAAMBAQAAAAAAAAECAwQREjIhQSIxMxNCYVEj/9oADAMBAAIRAxEAPwC8QAAAAAAAAAAAAAAAAA
            AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
            AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
            AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAa3OeD6ZGwG3AbAbdBsa3H3Hlz
            2yjsfR7Lgidtg6AAAGJOwGLj6c2zc5t3Q2Bi51zbNwFzm3WLndweWwAAAAAAAACEaRMfXpRoKhOrBtzctzck7Kys7cpYxqaf7K2RVX6Q
            p5Zyh+/xXx1C9FFn/FTndhq8uY9b+IxK5alRfiIt2pnRNy5Eba//Q4z/tYj+7P7nuMe3/x5m7Xre20cuY572IxL9qnUaPE27UTqXqK7k
            t1lfKP77F/FVPPGy7yuJdo+r4upVreETxEoRprVVXdLXbe9reuxWyYt/wBU+PVX/ZGM6cp1vDsTq1qsYqs4qKqzSWqktiT2bUy1YtUzRE
            zCvfu1RU+eb+cFXD4inUqVak6aerOMqk5LUlsbs3vrY+g83rNMx4dtXqo+1ywmnvW2+25lz4nTSidxtuddAMNnJkQrSTlqVKnTo05OM6j
            15OMmpKnG1tq3rvsZbxrUV+ZVMi7NPiFef6jiP39b+9U+5f8A4qNfSnF2rf2t7M6u6uBw8pNyepZttttptXbfIZN6NVaaVmd07c/SJjqu
            Hw1OVGpKnJ1lFuLs7asnb8CSxTEzqUd+qaY3CuZ5exj38ViOitNdjNCLFEelKbtU+29OrlCaUoyx0k9qaliWmuFNMTTZidOxVcmNtaeXM
            bRdliMRFr9mc5y+WVx/Haq8QfyXI+0kyJpAqQko4qKnF7N0grTXtcd6XaVr2LEeYT0ZM+1jYbExqxjODUoyV4yTumuEozuFyKtvsHoAAA
            AAABrqoOTESWOfJzUODnxFf6fiPdXaibHmeaG/TEUqcNhmb0trRyv0CPOVO8zIvzPOWnYiJpSexDtPqGGjmpJ1CicrVNfEV5cbEVZdc5
            M27PiiGRdndcvKe9beYWvo8yt4RhdST8pQag+F07eLLtX9JlZNvjW0cevlSlaK6yyBrUaSbbskrt8C4REOKQziym8XialXbquWrTT9VO
            LtH79JsWKONDJu18q5c0m0jWxo3q62AivXCrUi+vW+oyMmPm08afg8+lLzSlz67sjuP3ecnqq81ZZ8fS7821+h4bmIdhi3Z1W1bcRxeXO
            rINPGUJLViqsYylTqetTS2Jvinq3cmmpy7aiaVNW/z8jZp1VSy58SsTRblByjVoNtqFqkL+qMtjXWr9Jm5dERPhexqplPkUoXGToAAA
            AAAAwwODnz6PxHurtRLjd0OR1U2bE+mV7lbejn0fDnaveZlZX6y08X84SgrrD5YmerCT4It9SFMfJ5r+lMZtUI1sfRjJa0Z1J3TV01qye0
            1a6uNpmU08q3ly1k+WFxFWjL/jlsfDB7Yvqa/E92K+VDxdp4S9+Z2VvBMZTk3anU8lU917z6HZ9LPOTb3TpJYuaq2uSmzJ/xqffluBFNIW
            VdwwkoRdp1/JrhUP231bP6ifGtcqtq+Rc40oRmrkfwiGMqteLSwtVRuk/LShK3Sld9KLt67xmIhUtUcomZR65apncIKo1Ky9FdS+Hrx4uI
            1vihFfSZeZHzaGJPxfXSj5pS/mF3ZHnH7mT1Veass6ld+bXmeH5mHYYtzs1rXV0Z73QePb3VPxULjHerU4N0nbkuzbtdWRX2S3RdBvFVX6
            lQs3yyVuxlPMlaxIWeigvsgAAAAAAAYYHBz59H4j3V2olxu6HI6qbNifTK9ytvRz6PhztXvMysr9ZaeL+cJQV1h4MuVdTC4iXFoVH8rPV
            HmrSO54p2q7R/DWyhS2fqxqS+W35mlkeLShYjdxItJuStaEMTBbYNU6mz9h/qyfI3b+orYlzU6TZNG42ro09bnyoz4jwuDMbK/hWEgpO9
            SjalNt3bsvFm+VfmY9+jjXLUsV8qISK5Cnnwp3PXKnheMlqtuFJbjTSd07PbJe1t/KjUxqOFG5Zt+rnVpYubmSPBcDGk0teVNyqe2pJbV
            0b3QZ9yvde1umjVvSm5R1W1wNrpRs09YZlfZPdFVXxsTH2U5W+JfYoZsfLa5hz406OlF/olLn13ZEON2SZXXSsDVlnR9LvzbdsHhuYh2G
            Ld7zDWtdIefOvLMcJhpyut0lGUaUbq7m1ZNLgV7nbVPKS9XFMaUx/n+fgbERNNLKnzK0NG2SnRoSqzVpV2nFNWapK+r1tt9RmZFfKWhj0
            ahMkVlpkAAAAAAADDA4OfPo/Ee6u1EuN3Q5HVTZsT6ZXuVt6OfR8Odq95mVlfrLTxfzhKCusOHnrU1cn4l3telq/E1H8ySzG64Q3p1Qg2j
            SnfGzfFoTfW0Xcz89KmLHz2svG4WNanOnNXjOLjJexr1dvQZ1MzTML86mJUfj8HPD1Z0p/rU5OLfqfA+Rqxt2qudPJkVxwq4u1mLlbwbFx
            jJ2p19WlLg1r+I+vZ0kGTb5U7TWK+NWlg53ZV8Ewk5p2nPydP35evoSb6ChYt8qtLt65qlX2YeS/CcZBteTordJe1q6guvb0F7IucKNQpW
            KOVW5W6zL3420pjxpReV6epia8eCtU7zNu1O6aWTdjUpLovq2xdSPGoSfVJfcq5kJsWdVO9pR80p8+u7Ir43ZPlfSsGass/0nuWMu4rCY
            XAxoOKjUwybluevNSjbevs9a9Rn27dFVydrlddUW40jDweOx09Zwr1pPZryi7dbskuQsU1W7cIKqa7k+UrzdzCaaqYtxlbaqMW2rr1zl6+
            RFe7lzPilZtY+vtYEYpbFssUZ3K39NjroAAAAAAABhgcHPn0fiPdXaiXG7ocjqps2J9Mr3K29HPo+HO1e8zKyv1lp4v5wlBXWEV0jVdXJ81
            x6lKPzqX0k+PG60GRPwR7RZTvWxMuLShH4pN/SWMz0rY3naykZ6+rvSbknbDExXqVKp9Eu1dRexLuo4qWTb3PJAkzQmndOlLeqtuznDl+WN
            VBSv5KlaXtq70pclkvxK9qzxnae5c5xpYeYWSvBcInJWnWe6y9iaWrHoVulso5NfOtdsUcaUkZXT+lLZ30tTH4pfxdb4lGX1Gvjz8GTej5
            vXo+q6uUaK3teNWPyOX0o85UbtvePOqks0o+aU+fXdkU8Xss5PVWDNSpnUrvza8zw3Mw7EY1zs1rPR00eEkMh0AAAAAAAAAAMMDg58+j8R
            7q7US4/dDf6qbNifTK9ytvRx6PhztXvMysr9ZaeL+cJQV1hCdKFS2Fpx41dfhFlrE81KmVPxeXRRS8XFS4ZUo9Wu/qJM2fMPOJHiU/KK68
            WVsBHE0KlKe9Ui1yPfT6HZnqmrjVt4rp3TpR+KoSpTnTmrSpzcJK1tsdht0TumKmTVTqdS6Wa2S/DMVTptXgnr1ODc42uny3S6SDIr407e
            7EcqtLqUTJ97a3rTNjkiotIdLVyhUfHp0p/Ko/SauJ0ZmT3eDNSrqY7Cv+Ml8ScfzJMiP/AD08We6caT/NKXPruyKGNHzXMjzSrFmnLPp
            Xfm15nh+Zh2GNdn5NWz1dNHhJDIdAAAAAAAAAADDA4OfPo/Ee6u8iWx3RX+qmtZcK6zXmr6ZcU+ZW5o4f+3w52r3mZeVO7stLGjVuEoK6d
            XulasksNG++6krexKK/MuYf2p5f09uiuFsLVfGxD28kYr7njJq3U9Y0apTQrLTD3jk/R7VnpMyVudWGIivFq+JP2VFvPpV/hNDFveOKhk
            W/O3a0bZL3LDOvJWnXd4t7+5Le62m+ohyq+VWkuNRqNpoVlphg9qv0ow1cXSlxqCXVJ/c0MSfioZUfJFcm11CvRldLVqwd7/8ApFm75tq1
            HitYulCS8EpfzC7kjOxp1WvX43QrFyXCus1JqUKaV4Zs+Z4bmIdiMW93atrq6aPKRkAAAAAAAAAAAANZRuBpuUeKupHeUucYbwjbeVjm9
            kRpsHWkoJ76T6Ed25pmMbbyscdbAANZxvvpPouBmKAyAA0lBPfSfKkwMblHix6kd25pmUE99J8o2aa7lHirqQ5ScX0SscdZAAAAAAAAAAA
            AAAAwBkAAOAdAAAAAAAAAcA6MAZAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
            AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
            AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
            AAAAAAAAAAAAAAAAAAAAAAAAAAD/9k=" alt="TMP" class="card-img">
          </div>
          <div class="flip-card-back">
            <h3>TMP Usługi Informatyczne</h3>
            <p>Marketing Specialist</p>
            <p>April 2018 - August 2018</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 exp">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="/static/img/MrToy.jpg" alt="MrToy.pl" class="card-img">
          </div>
          <div class="flip-card-back">
            <h3>MrToy.pl</h3>
            <p>Owner</p>
            <p>March 2016 - March 2017</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 exp">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="https://www.drb.pl/wp-content/uploads/2015/05/LOGOTYPY-GRUPA-ALL-05.jpg"
                 alt="DRB Centrum Odszkodowań" class="card-img">
          </div>
          <div class="flip-card-back">
            <h3>DRB Compensation Center</h3>
            <p>Compensation Specialist</p>
            <p>June 2012 - December 2015</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="col">
            <h2 class="header">Education</h2>
  </div>
    <div class="row">
      <div class="col-lg-4 exp">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="/static/img/PUT.png" alt="Poznań University of Technology" class="card-img">
          </div>
          <div class="flip-card-back">
            <h3>Poznań University of Technology</h3>
            <p>Management</p>
            <p>October 2012 - February 2015</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 exp">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="https://rekrutacja.amu.edu.pl/assets/images/uam_logo.svg"
                 alt="Adam Mickiewicz University" class="card-img">
          </div>
          <div class="flip-card-back">
            <h3>Adam Mickiewicz University in Poznań</h3>
            <p>Public Relations - postgraduate</p>
            <p>October 2017 - June 2018</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="col">
            <h2 class="header">Volunteering</h2>
  </div>
    <div class="row">
      <div class="col-lg-4 exp">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="https://upload.wikimedia.org/wikipedia/commons/1/1e/Nowoczesna_logo.png" alt="Nowoczesna"
                   class="card-img">
            </div>
            <div class="flip-card-back">
              <h3>Regional Election Staff</h3>
              <p>Online marketing specialist</p>
              <p>August 2018 - October 2018</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 exp">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="/static/img/opennexus.png"
                   alt="DRB Centrum Odszkodowań" class="card-img">
            </div>
            <div class="flip-card-back">
              <h3>OpenNexus</h3>
              <p>Manual Tester</p>
              <p>October 2013 - November 2013</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  <hr>
</div>



{% include "footer.html" %}