{% include "header.html" %}
<div class="top programming-bg container-fluid row">

</div>

<div class="about container-fluid">
    <div class="row arow">
        <div class="col">
            <h2 class="header">Abilities</h2>
        </div>

        <h4 class="subheader">Skills</h4>

        <div class="col-lg-6">
            <span class="just">
                <span class="ability-title">Python(3)</span>
                <span class="ability-score">
                    <span class="far fa-star star one-star star-over"></span>
                    <span class="far fa-star star one-star star-over"></span>
                    <span class="far fa-star star one-star star-over"></span>
                    <span class="far fa-star star one-star"></span>
                    <span class="far fa-star star one-star"></span>
                </span>
            </span>

            <span class="just">
                <span class="ability-title">Bootstrap Framework</span>
                <span class="ability-score">
                    <span class="far fa-star star one-star star-over"></span>
                    <span class="far fa-star star one-star star-over"></span>
                    <span class="far fa-star star one-star star-over"></span>
                    <span class="far fa-star star one-star"></span>
                    <span class="far fa-star star one-star"></span>
                </span>
            </span>

            <span class="just">
                <span class="ability-title">CSS(3)</span>
                <span class="ability-score">
                    <span class="far fa-star star one-star star-over"></span>
                    <span class="far fa-star star one-star star-over"></span>
                    <span class="far fa-star star one-star star-over"></span>
                    <span class="far fa-star star one-star"></span>
                    <span class="far fa-star star one-star"></span>
                </span>
            </span>

            <span class="just">
                <span class="ability-title">HTML(5)</span>
                <span class="ability-score">
                    <span class="far fa-star star one-star star-over"></span>
                    <span class="far fa-star star one-star star-over"></span>
                    <span class="far fa-star star one-star star-over"></span>
                    <span class="far fa-star star one-star"></span>
                    <span class="far fa-star star one-star"></span>
                </span>
            </span>

            <span class="just">
                <span class="ability-title">Flask Framework</span>
                <span class="ability-score">
                    <span class="far fa-star star one-star star-over"></span>
                    <span class="far fa-star star one-star star-over"></span>
                    <span class="far fa-star star one-star star-over"></span>
                    <span class="far fa-star star one-star"></span>
                    <span class="far fa-star star one-star"></span>
                </span>
            </span>


        </div>
        <div class="col-lg-6">
            <span class="just">
                <span class="ability-title">Selenium</span>
                <span class="ability-score">
                    <span class="far fa-star star one-star star-over"></span>
                    <span class="far fa-star star one-star star-over"></span>
                    <span class="far fa-star star one-star star-over"></span>
                    <span class="far fa-star star one-star"></span>
                    <span class="far fa-star star one-star"></span>
                </span>
            </span>

            <span class="just">
                <span class="ability-title">OOP</span>
                <span class="ability-score">
                    <span class="far fa-star star one-star star-over"></span>
                    <span class="far fa-star star one-star star-over"></span>
                    <span class="far fa-star star one-star star-over"></span>
                    <span class="far fa-star star one-star"></span>
                    <span class="far fa-star star one-star"></span>
                </span>
            </span>

            <span class="just">
                <span class="ability-title">REST API</span>
                <span class="ability-score">
                    <span class="far fa-star star one-star star-over"></span>
                    <span class="far fa-star star one-star star-over"></span>
                    <span class="far fa-star star one-star star-over"></span>
                    <span class="far fa-star star one-star"></span>
                    <span class="far fa-star star one-star"></span>
                </span>
            </span>

            <span class="just">
                <span class="ability-title">Pandas</span>
                <span class="ability-score">
                    <span class="far fa-star star one-star star-over"></span>
                    <span class="far fa-star star one-star star-over"></span>
                    <span class="far fa-star star one-star"></span>
                    <span class="far fa-star star one-star"></span>
                    <span class="far fa-star star one-star"></span>
                </span>
            </span>

            <span class="just">
                <span class="ability-title">SQL</span>
                <span class="ability-score">
                    <span class="far fa-star star one-star star-over"></span>
                    <span class="far fa-star star one-star star-over"></span>
                    <span class="far fa-star star one-star"></span>
                    <span class="far fa-star star one-star"></span>
                    <span class="far fa-star star one-star"></span>
                </span>
            </span>
        </div>

        <hr class="abilities-divider">

        <h4 class="subheader">Languages</h4>
        <div class="col-lg-6">
            <span class="just">
            <span class="ability-title">Polish (Mother tongue)</span>
            <span class="ability-score">
                <span class="far fa-star star one-star star-over"></span>
                <span class="far fa-star star one-star star-over"></span>
                <span class="far fa-star star one-star star-over"></span>
                <span class="far fa-star star one-star star-over"></span>
                <span class="far fa-star star one-star star-over"></span>
            </span>
            </span>

            <span class="just">
            <span class="ability-title">English</span>
            <span class="ability-score">
                <span class="far fa-star star one-star star-over"></span>
                <span class="far fa-star star one-star star-over"></span>
                <span class="far fa-star star one-star star-over"></span>
                <span class="far fa-star star one-star star-over"></span>
                <span class="far fa-star star one-star"></span>
            </span>
            </span>
        </div>
        <div class="col-lg-6">
            <span class="just">
            <span class="ability-title">German</span>
            <span class="ability-score">
                <span class="far fa-star star one-star star-over"></span>
                <span class="far fa-star star one-star star-over"></span>
                <span class="far fa-star star one-star"></span>
                <span class="far fa-star star one-star"></span>
                <span class="far fa-star star one-star"></span>
            </span>
            </span>

            <span class="just">
            <span class="ability-title">Spanish</span>
            <span class="ability-score">
                <span class="far fa-star star one-star star-over"></span>
                <span class="far fa-star star one-star"></span>
                <span class="far fa-star star one-star"></span>
                <span class="far fa-star star one-star"></span>
                <span class="far fa-star star one-star"></span>
            </span>
            </span>
        </div>

        <hr class="abilities-divider">

        <h4 class="subheader">Tools</h4>
        <div class="col-lg-6">
            <span class="just">
                <span class="ability-title">Windows</span>
                <span class="ability-score">
                    <span class="far fa-star star one-star star-over"></span>
                    <span class="far fa-star star one-star star-over"></span>
                    <span class="far fa-star star one-star star-over"></span>
                    <span class="far fa-star star one-star star-over"></span>
                    <span class="far fa-star star one-star"></span>
                </span>
            </span>

            <span class="just">
                <span class="ability-title">Ms Office</span>
                <span class="ability-score">
                    <span class="far fa-star star one-star star-over"></span>
                    <span class="far fa-star star one-star star-over"></span>
                    <span class="far fa-star star one-star star-over"></span>
                    <span class="far fa-star star one-star star-over"></span>
                    <span class="far fa-star star one-star"></span>
                </span>
            </span>

            <span class="just">
                <span class="ability-title">Adobe Photoshop</span>
                <span class="ability-score">
                    <span class="far fa-star star one-star star-over"></span>
                    <span class="far fa-star star one-star star-over"></span>
                    <span class="far fa-star star one-star star-over"></span>
                    <span class="far fa-star star one-star"></span>
                    <span class="far fa-star star one-star"></span>
                </span>
            </span>

        </div>
        <div class="col-lg-6">
            <span class="just">
                <span class="ability-title">Pycharm</span>
                <span class="ability-score">
                    <span class="far fa-star star one-star star-over"></span>
                    <span class="far fa-star star one-star star-over"></span>
                    <span class="far fa-star star one-star star-over"></span>
                    <span class="far fa-star star one-star"></span>
                    <span class="far fa-star star one-star"></span>
                </span>
            </span>

            <span class="just">
                <span class="ability-title">Git/Github</span>
                <span class="ability-score">
                    <span class="far fa-star star one-star star-over"></span>
                    <span class="far fa-star star one-star star-over"></span>
                    <span class="far fa-star star one-star"></span>
                    <span class="far fa-star star one-star"></span>
                    <span class="far fa-star star one-star"></span>
                </span>
            </span>
        </div>


        <div class="col-lg-12">
            <h2 class="header">Portfolio</h2>
        </div>

        <div class="card col-lg-4 col-md-6 container">
            <h3 class="card-header card-edge">New project</h3>
            <div class="card-body">
                <p>I will update the list of my own projects on an ongoing basis.</p>
            </div>
            <div class="card-footer card-edge">
                <p>on going</p>
            </div>
        </div>

        <hr class="abilities-divider">
	</div>
</div>



{% include "footer.html" %}